@font-face { font-family: "source"; src: url('../font/SourceSansPro-Regular.otf'); }
@font-face { font-family: "source-l"; src: url('../font/SourceSansPro-Light.otf'); }
@font-face { font-family: "source-sb"; src: url('../font/SourceSansPro-Semibold.otf'); }

body{
    font: 14px "Source Sans Pro", "source", helvetica, arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: #000;
	font-family: "Source Sans Pro", "source-l", helvetica, arial, sans-serif;
	margin: 0;
	font-weight: 400;
}