.panel-view {
	display: none;
}

.panel-view.active {
    @include flex; 
    @include northstar-bg;
	display: block;
	border-top: 1px solid #6a6a6a;
	color: white;
	z-index: 0;
	position: relative;
	overflow: hidden;
}

.panel-view.active > :first-child {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	top: 0px;
	left: 0px;
	margin: 0px;
}

.panel-tab-list {
	@include hbox;
    @include noflex;
	background: $baseColorDark;
}

.panel-tab {
	padding: 5px 10px;
	border-top: 1px solid #4a4a4a;
	border-right: 1px solid #282828;
	color: #899395;
	font-size: 12px;
	cursor: pointer;
	
	&:hover{
	    background: rgba(112, 112, 112, 0.24);
	    color: white;
	};
	
	&.active{
        @include northstar-bg;
    	position: relative;
    	z-index: 10;
    	border-top: 1px solid #6a6a6a;
    	border-bottom: 2px solid #494D4E;
    	color: white; 
    	top: 1px;
    	padding-top:4px; 
	}
}

.panel-container {
	z-index: 0;
    @include vbox;
    @include flex;
}

.panel-column {
    @include flexbox;
    @include flex;
}

.panel-column.horizontal,
.panel-column.horizontal > .panel-column-items {
    @include hbox;
}

.panel-column.vertical,
.panel-column.vertical > .panel-column-items {
	@include vbox;
}

.panel-column-header {
	@include noflex;
	font-weight: bold;
	color: white;
	padding: 8px;
	background: $baseColorDark;
}

.panel-column-close-button {
	float: right;
}

.panel-column-items {
	@include flexbox;
	@include flex;
}

.panel-column.horizontal > .panel-column-items > .panel-separator {
	width: 1px;
	@include noflex;
	border-left: 1px solid #282828;
	border-right: 1px solid #282828;
	background: #3a3a3a;
	cursor: col-resize;
}

.panel-column.vertical > .panel-column-items > .panel-separator {
	height: 1px;
	@include noflex;
	border-top: 1px solid #282828;
	border-bottom: 1px solid #282828;
	background: #3a3a3a;
	cursor: row-resize;
}

/* trim down on needless resizing handles */
.panel-separator:first-of-type,
.panel-column-handle {
    display: none;
}

.panel-column.vertical.light > .panel-column-items > .panel-separator{
    border: none;
    background: white;
    height: 3px;
    border-bottom:1px solid #c4c6c6;
}

.light {
    
    .panel-column.horizontal > .panel-column-items > .panel-separator {   
        border: none;
        background: #bdbdbd;
        border-right: 1px solid white;
    }
    
    section{
        background: white;
    }    
    
    .panel-tab-list{
        background: #D4D7D7;
        border-bottom: 1px solid #c4c6c6;
    }  
    
    .panel-tab,
    .panel-view.active{
        background: #DFE2E2;
        border-top: 1px solid #DFE2E2;   
/*        box-shadow: 0px -1px 0px rgba(255, 255, 255, 1);*/
    }

    .panel-view.active {
        color: black;
    }
    
    .panel-tab{    
        border: none;
        color: #3B3F41;
        text-shadow: 0 1px 0 white;
        background: none;
        border-right: none;
        
        &.active{
            background: #DFE2E2;
            border-right: 1px solid #c4c6c6;
            border-left: 1px solid #c4c6c6;
                        
            &:first-child{
                border-left: none;
            };
        }
    }
}