<div id="animations-container">
    <ul class="nav left">
        <li class="preset">
            <a id="active-animation" class="button drop-down">
                Presets
            </a>
            <a href="#" id="save-animation" class="button disabled" >Save as Preset</a>
        </li>
    </ul>

    <div class="panel-right">
        <ul class="nav">
            <% if (project.branding) { %>
                <%- file(project.branding.rightPanel) %>
            <% } %>
            <li>
                <a href="<%= project.homepage %>" target='_blank' title="About CSS Custom Filters on html.adobe.com">What are CSS Custom Filters?</a>
            </li>
            <li>
                <a id="help-link" href="#">Help</a>
            </li>
        </ul>
    </div>

    <ul id="animations" class="menu">
    </ul>
</div>
