/*
Syntax error: Invalid CSS after "        }": expected "}", was "<<<<<<< HEAD"
        on line 546 of style/src/_styles.scss
        from line 19 of style/app.scss

541:         input[type='text'], 
542:         input[type='number']{
543:             @extend .text-field.dark;
544:             width: 60px !important;
545:         }
546: <<<<<<< HEAD
547: 
548:         input[type='checkbox'] {
549:             display: none;
550:         }
551: =======

Backtrace:
style/src/_styles.scss:546
style/app.scss:19
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:1130:in `expected'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:1066:in `expected'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:1061:in `tok!'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:519:in `block'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:536:in `block_child'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:70:in `stylesheet'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/scss/parser.rb:27:in `parse'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/engine.rb:342:in `_to_tree'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/engine.rb:274:in `to_tree'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:222:in `visit_import'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/tree/root_node.rb:20:in `render'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `each'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/vendor/listen/lib/listen/adapter.rb:162:in `call'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/vendor/listen/lib/listen/adapter.rb:162:in `poll_changed_dirs'
/Users/achicu/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/darwin.rb:28:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"        }\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 546 of style/src/_styles.scss\A         from line 19 of style/app.scss\A \A 541:         input[type='text'], \A 542:         input[type='number']{\A 543:             @extend .text-field.dark;\A 544:             width: 60px !important;\A 545:         }\A 546: <<<<<<< HEAD\A 547: \A 548:         input[type='checkbox'] {\A 549:             display: none;\A 550:         }\A 551: ======="; }
