.view-hidden{
    display:none;   
}

.social-cta{
    float:right;
}
.fb-img{
    width:25px;
    height:25px;
}
/* Button Bar */
.button-bar {
	list-style: none;
	border: 1px solid rgba(0,0,0,0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	font-weight: 400;
	padding: 0;
	-webkit-font-smoothing: subpixel-antialiased;
}
.button-bar li {
	display: inline-block;
}
.button-bar a {
	text-decoration: none;
	color: #454545;
	display: block;
	padding: 3px 7px;
	height: 18px;
	font-size: 15px;
	text-shadow: 0 1px #FFF;
	background-color: #f5f9fa;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(245, 249, 250)), to(rgb(227, 229, 230)));
	background-image: -webkit-linear-gradient(top, rgb(245, 249, 250), rgb(227, 229, 230));
	background-image: -moz-linear-gradient(top, rgb(245, 249, 250), rgb(227, 229, 230));
	background-image: -o-linear-gradient(top, rgb(245, 249, 250), rgb(227, 229, 230));
	background-image: -ms-linear-gradient(top, rgb(245, 249, 250), rgb(227, 229, 230));
	background-image: linear-gradient(top, rgb(245, 249, 250), rgb(227, 229, 230));
	border-right: 1px solid #bcbcbc;
	margin-left: -3px;
	-moz-box-shadow:    inset 0 1px 1px #FFF;
	-webkit-box-shadow: inset 0 1px 1px #FFF;
	box-shadow:         inset 0 1px 1px #FFF;
}
.button-bar a:hover {
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(244, 246, 247)));
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(244, 246, 247));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(244, 246, 247));
	background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(244, 246, 247));
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(244, 246, 247));
	background-image: linear-gradient(top, rgb(255, 255, 255), rgb(244, 246, 247));

}
.button-bar li:first-child a {
	margin-left: 0;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.button-bar li:last-child a {
	border-right: none;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.button-bar li.selected a {
	background: #e0ddac;
	cursor: default;
}
.button-bar li.disabled a {
	cursor: default;
	color: hsla(0, 0%, 27%, 0.4);
	background-color: hsla(192, 33%, 97%, 0.4);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 249, 250, 0.4)), to(rgba(227, 229, 230, 0.4)));
	background-image: -webkit-linear-gradient(top, rgba(245, 249, 250, 0.4), rgba(227, 229, 230, 0.4));
	background-image: -moz-linear-gradient(top, rgba(245, 249, 250, 0.4), rgba(227, 229, 230, 0.4));
	background-image: -o-linear-gradient(top, rgba(245, 249, 250, 0.4), rgba(227, 229, 230, 0.4));
	background-image: -ms-linear-gradient(top, rgba(245, 249, 250, 0.4), rgba(227, 229, 230, 0.4));
	background-image: linear-gradient(top, rgba(245, 249, 250, 0.4), rgba(227, 229, 230, 0.4));
}
/* End Button Bar */